*{
  padding: 0;
  margin: 0;
}
body{
  
  padding: 5px ;
  background-color: gray;
}
#heading{ 
  background: pink;
  padding: 10px;
  text-align: center;
  color: palegreen;
  margin: 0 0 10px 0;
}
#heading h1{
  color: #fff;
}
.blog-img{
  width: 100%;
}
#body-area{
  width: 100%;
  display: flex;
  column-gap: 5px;
}
#main-content{
  width: 60%;
  background-color: paleturquoise;
  border-radius: 2px;
  padding: 10px;
}
#side-content{
  width: 40%;
  background: antiquewhite;
  padding: 10px;
}